@model TinyShelterPage.Models.AnimalListModel

@{
    ViewBag.Title = "Animals";
}

<h2>Pets waiting to be Adopted</h2>

<    <table class="table table-bordered table-hover">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
    @for (var i = 0; i < Model.Pet.Count; i++)
    {


        <tr>
                <td class=".d-block">@Model.Pet[i].Name</td>
                <td class=".d-none .d-sm-block">@Model.Pet[i].Type</td>
                <td class=".d-none .d-lg-block">@Model.Pet[i].Age</td>
                <td>@Html.ActionLink("Detail", "AnimalDetail", new { id = Model.Pet[i].AnimalId, @class="detail-button" })</td>
            </tr>

    }
    </tbody>
    </table>

		 
        <div class="col-sm-12 form-group">
            <label>Total Pets:</label> @Model.TotalPet
        </div>
        <div class="col-sm-12">
            @Html.ActionLink("Add Animal", "AnimalAdd", null, new { @class = "btn btn-primary" })
        </div>

